<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.vestel.recipebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATdE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/chef"
        android:label="Tarif Defterim"
        android:roundIcon="@drawable/chef"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAcActivity"
            android:label="Yeni Kullanıcı"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RecipesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddFoodActivity"
            android:label="Tarif Ekle" />
        <activity
            android:name=".FoodDetailActivity"
            android:label="Tarif Detay" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".AllRecipesActivity"></activity>


        <service android:name=".ScreenLockService">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </service>
        <receiver android:name=".ScreenLockReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>